In [18]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [19]:
file_to_split_path = "../../smalldata/prostate/prostate.csv"
train_path = "../../smalldata/prostate/prostate_train.csv"
test_path = "../../smalldata/prostate/prostate_test.csv"

In [20]:
train, test = train_test_split(pd.read_csv(file_to_split_path), test_size=0.2, random_state=42)

In [21]:
train

      ID  CAPSULE  AGE  RACE  DPROS  DCAPS   PSA   VOL  GLEASON
77    78        1   62     1      2      1   1.9   0.0        6
220  221        1   51     1      2      1   7.4   0.0        6
297  298        0   72     1      1      1  22.1   0.0        5
113  114        0   71     1      2      1  17.2  65.6        8
203  204        0   71     1      2      1   1.7   0.0        6
..   ...      ...  ...   ...    ...    ...   ...   ...      ...
71    72        0   71     1      3      1   8.3  17.5        5
106  107        1   69     1      1      1   6.0   0.0        7
270  271        0   61     1      1      1   5.4  27.5        6
348  349        1   61     1      1      1  21.0   0.0        7
102  103        0   62     1      1      1   2.8  44.0        6

[304 rows x 9 columns]

In [22]:
test

      ID  CAPSULE  AGE  RACE  DPROS  DCAPS   PSA   VOL  GLEASON
266  267        1   65     1      3      1   3.4  14.3        7
261  262        1   62     1      2      1   8.3   0.0        6
265  266        0   67     1      3      1  20.0  17.5        5
39    40        1   73     1      3      1   4.5  26.4        7
33    34        1   60     1      3      2   9.5   0.0        7
..   ...      ...  ...   ...    ...    ...   ...   ...      ...
316  317        1   57     2      3      1   7.8  38.9        7
63    64        0   66     1      3      1   2.6   0.0        7
229  230        1   54     1      3      1   7.0  29.0        6
82    83        0   74     1      2      1  31.5   0.0        7
94    95        0   71     1      1      1  13.4  44.2        7

[76 rows x 9 columns]

In [23]:
train.to_csv(train_path, index=False)
test.to_csv(test_path, index=False)